{% load helpers %}
{% load i18n %}
{% if wdm_node %}
<div class="card">
    <h2 class="card-header">{% trans "WDM Node" %}</h2>
    <table class="table table-hover attr-table">
        <tr>
            <th scope="row">{% trans "Node Type" %}</th>
            <td>{{ wdm_node.get_node_type_display }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Grid" %}</th>
            <td>{{ wdm_node.get_grid_display }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Channels" %}</th>
            <td>{{ wdm_node.channels.count }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Trunk Ports" %}</th>
            <td>{{ wdm_node.trunk_ports.count }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{ wdm_node.get_absolute_url }}" class="btn btn-sm btn-outline-primary">
                    {% trans "View WDM Node" %}
                </a>
            </td>
        </tr>
    </table>
</div>
{% endif %}
