{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "WDM Channel Template" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Profile" %}</th>
                    <td>{{ object.profile|linkify }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Grid Position" %}</th>
                    <td>{{ object.grid_position }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Label" %}</th>
                    <td>{{ object.label }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Wavelength (nm)" %}</th>
                    <td>{{ object.wavelength_nm }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Front Port Template" %}</th>
                    <td>{% if object.front_port_template %}{{ object.front_port_template }}{% else %}&mdash;{% endif %}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/custom_fields.html' %}
    </div>
</div>
{% plugin_full_width_page object %}
{% endblock %}
