{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <div id="wavelength-editor-container"></div>
    </div>
</div>
{% plugin_full_width_page object %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
window.WAVELENGTH_EDITOR_CONFIG = {{ editor_config_json|safe }};
</script>
<script src="{% static 'netbox_wdm/dist/wavelength-editor.min.js' %}"></script>
{% endblock %}
